img{
    width:30%;
    margin: calc(10%/6);
    box-shadow: 0px 0px 10px gray;

}
nav{
    text-transform: uppercase;
    font-family: 'DM Serif Text', serif;
    font-weight: 600px;
    width: 30%;
    margin-left: calc(10%/6);
    font-size: 24px;
    padding: 20px 0px;
}