
body{
    align-content: center;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(17, 6, 62);
}
button{
    background-color: rgb(17, 6, 62);
    color: rgb(235, 157, 49);
    border: 2px solid;
    cursor: pointer;
    font-weight: bold;
    padding: 1em 2em;
    font-size: 1.5em;
    transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, border 0s ease;
}

button:hover{
    border: #f1ff5c 3px solid;
    color: #ffffff;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.4em);
}