div {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    background-color: rgb(131, 31, 230);
    margin: 10px;
    display: inline-block;
}
.middle {
    background-color: rgb(254, 22, 223);
}
 #relative .middle {
    position: relative;
    top: 20px;
    left: 20px;
 }
    #absolute .middle {
        position: absolute;
        top: 2px;
        left: 2px;
    }
    #fixed .middle {
        position: fixed;
        top: 20px;
        left: 20px;
        opacity: 0.7;
    }