#circle {
    width: 300px;
    height: 300px;
    background-color: rgb(83, 83, 246);
    transition: border-radius 0.5s ease;
    
}
#circle:hover {
    border-radius: 50%;
    background-color: rgb(38, 215, 215);
}

section div{
    height: 200px;
    width: 200px;
    margin: 20px;
    background-color: rgb(171, 229, 255);
    transition: margin-left 1s;
    border: 2px solid black;
}
section div:hover {
    margin-left: 500px;
}
div:nth-of-type(1){
    transition-timing-function: ease-in;
}
div:nth-of-type(2){
    transition-timing-function: ease-out;
}
div:nth-of-type(3){
    transition-timing-function: ease-in-out
div:nth-of-type(4){
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}